<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<h2><%= @cocktail.name %></h2>
<% @cocktail.doses.each do |dose| %>
  <p><%= dose.description %></p>
  <p><%= dose.ingredient.name %></p>
  <%= link_to "destroy dose", cocktail_dose_path(@cocktail, dose), method: :delete %>
<% end %>

<%= link_to "New dose", new_cocktail_dose_path(@cocktail) %>
